<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h2 class="text-center">Followers</h2>
      <tr>
      <% if @users.exists? %>
        <%= render "public/users/index", users: @users %>
      <% else %>
        <td>No users</td>
      <% end %>
      </tr>
    </div>
  </div>
</div>