<table class="table table-bordered">
  <thead>
    <tr>
      <th class="text-center">User</th>
      <th class="text-center">Profile Image</th>
    </tr>
  </thead>
  <tbody>
    <% users.each do |user| %>
      <tr>
        <td class="text-center"><%= user.name %></td>
        <td class="text-center">
          <%= link_to user_path(user.id) do %>
            <%= image_tag user.get_profile_image(100, 100) %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>